<h2>Genres <%=@genres.count%></h2>

<% @genres.each do |genre| %>
  <%= link_to genre_album_index_path(genre) do %>
    <%= genre.genre_name %>
    <%= genre.albums.count %>
  <br>
  <% end %>
<% end %>