<h2>Search results for :<%= @alb.size %></h2>
<% if @alb.empty? %>
  <p>Sorry, no albums like that.</p>
<%else%>
  <ul>
  <% @alb.each do |album| %>
    <li><%= link_to album.name, album%></li>
  <% end %>
  </ul>
<%end%>